.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
    height: 100vh;
    margin: 100px auto auto auto;
    box-sizing: border-box;
}

.Profile button {
    background-color: blue;
    color: white;
    padding: 1em;
}

.Profile form {
    width: 80%;
    padding: 3em 0 3em 0;
    border: 1px solid lightgray;
    background-color:  rgb(235, 235, 235);
    box-sizing: border-box;
}

.Profile label, .Profile input {
    font-size: 1em;
    width: 80%;
    height: 2.5em;
    margin-bottom: 1em;
}

.Profile form button{
    margin-top: 2em;
    border-radius: 5px;
}